@import './scss/font.scss';
@import './scss/color.scss';
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Spline Sans', sans-serif;
  background-color: $white;
  .navbar-toggler,
  .btn:focus,
  .form-control:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  #hero-section {
    height: min-content;
  }
  .img-card {
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .category-img-men {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 400px;
  }
  .category-img-women,
  .category-img-kid {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 200px;
  }
  .carousel-item {
    height: 300px !important;
  }
}
